<%= form_tag '/' do %>
<div>
    <%= label_tag :Random, nil, class:'baz' %>
    <br>
    <%= text_area_tag :names,nil,class:'foo' %>
</div>
<%= submit_tag "Pick" %>
<% end %>

Result :
<%= @result %>
