<h1>Sign in</h1>

<%= form_tag sessions_path do %>
<div id="name">
  <%= label_tag :email %>
  <%= email_field_tag :email %>
</div>
<div id="name">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
<%= submit_tag %>
<% end %>
