<div>
  <%= @message.content %>
  <%= @message.user_id %>
  <%= @message.created_at %>
  <%= @message.user.full_name %>

  <!-- <div id='dom_id(@user_like)' class="like"> -->
   <!-- <%= render partial: 'likes/like' %> -->
  <!-- </div> -->
  <div id='like'>
    <%= render "likes/like" %>
  </div>

</div>
<div>
  <%# byebug %>
  <% if can? :update, @message %>

  <%= link_to "Update", edit_message_path(@message) %>

  <%= link_to "Delete", message_path(@message),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
  <% end %>
</div>

<%= render 'message_input',comment: @comments,message: @message %>

<!-- comments -->

<div id='comments'>
  <% @message.comments.each do |comment| %>
  <%= render '/comments/comment',comment9: comment %>
  <% end %>
</div>
