<div>
  <%= @message.content %>
  <%= @message.user_id %>
  <%= @message.created_at %>
</div>
<div>
  <%= link_to "Update", edit_message_path(@message) %>

  <%= link_to "Delete", message_path(@message),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
</div>

<%= render 'message',comment: @comments,message: @message %>

<% @message.comments.each do |c| %>
<div>
  <%= c.id %>
  <%= link_to c.body, message_comment_path(@message,c) %>

  <%= link_to "Edit", edit_message_comment_path(@message,c) %>

  <%= link_to "Del", message_comment_path(@message,c),
  method: :delete,
  data: {confirm: "Are you sure?"}%>
</div>
<% end %>
