<div>
  <%= @message.content %>
  <%= @message.created_at %>
</div>
<div>
  <%= link_to "Update", edit_message_path(@message) %>

  <%= link_to "Delete", message_path(@message),
                        method: :delete,
                        data: {confirm: "Are you sure?"} %>
</div>

<%= form_for [@message,@comments] do |f| %>
<div>
  <%= f.text_area :body %>
  <%= f.submit %>
</div>
<% end %>

<% @message.comments.each do |c| %>
<div>
  <%= link_to c.body, message_comment_path(c) %>
  <%= link_to "Del", message_comment_path(@message,c),
  method: :delete,
  data: {confirm: "Are you sure?"}%>
</div>
<% end %>
