<div id='<%= dom_id(comment9) %>'>
  <%= comment9.id %>

  <%= comment9.user.full_name %>
  <%= link_to comment9.body, message_comment_path(@message,comment9) %>

  <%= link_to "Edit", edit_message_comment_path(@message,comment9) %>

  <%= link_to "Del", message_comment_path(@message,comment9),
method: :delete,
remote: true,
data: {confirm: "Are you sure?"}%>
</div>
