<h1>Bill#index</h1>
<p>Find me in app/views/bill/index.html.erb</p>

<%= form_for '/' do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.submit %>
<% end %>
