<!DOCTYPE html>
<html>
    <head>
        <title>Awesome</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= link_to("Home", root_path, {class: "abc"}) %>
        |
        <%= link_to "New Question", new_question_path %>
        |
        <%= link_to "Questions", questions_path %>
        |
        <%= link_to "New Products",new_product_path %>
        |
        <%= link_to("Products",products_path) %>
        <hr>

        <%= flash[:notice] %>
        <%= flash[:alert] %>

        <%= yield %>
    </body>
</html>
