<div id="name">
  <h1><%= @book.title %></h1>
</div>
<div id="name">
  <%= @book.author %>
</div>
<div id="name">
  <%= @book.price %>
</div>
<div id="name">
  <%= @book.length %>
</div>
<%= link_to "Delete", book_path(@book),
                      method: :delete,
                      data: {confirm:"Are you sure?"} %>
