<%= @question.errors.full_messages.join(", ") %>
<%= bootstrap_form_for @question do |f|%>
<div id="name">
  <%= f.text_field :title %>
</div>
<div id="name">
  <%= f.text_area :body %>
</div>
<%= f.submit %>
<% end %>
