<%= form_for @product do |f|%>

<div class="">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>
<%= f.submit %>
<% end %>
