<a href="<%= root_path %>">Home</a>
<%= link_to "About",about_us_path %>
<a href="/about">About</a>
<%= link_to "contact_us", new_contact_path %>



<h1><%= @greeting %></h1>
<h2><%= @array %></h2>

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
